
			.menuDiv {
			border: none;
			display: flex;
			justify-content: space-around;
			background-color: rgb(160, 210, 210);    
			}
			.menuDiv > form {
				margin: 0 10px;
				text-align: center;
				}
			button {
                width: 200px;
                height: 40px;
                font-size: 16px;
				color: white;
				text-transform: uppercase;
				user-select: none;
				margin: 20px 40px;
                background-color: rgb(41, 110, 110);
				cursor: pointer;
				border-radius: 0.75em;
				}
			button {transition-duration: 0.4s;}
			button:hover{
			background-color: rgb(109, 180, 180);
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			button:active {
			background-color: rgb(100, 250, 250);
			color: red;
			box-shadow: 0 5px #666;
			transform: translateY(4px);
			}
			