<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Settings</title>
        <link rel="shortcut icon" href="/favicon" />
        <link rel="stylesheet" type="text/css" href="utton.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        </style>
    </head>
    <body bgcolor=#d4ecec>
		<br><br><br>
		<h1 align=center style="color: rgb(33, 88, 88)">Select setting:</h1>
		<form align=center>
            <br>
            
			<button onclick="window.location.href='config_connection.html'; return false;">Connection</button>
			<button onclick="window.location.href='config_devices.html'; return false;">Devices</button>
			<button onclick="window.location.href='password_change.html'; return false;">Password change</button>
            <button onclick="window.location.href='menu.html'; return false;">Main menu</button>
		</form>
    </body>
</html>
