<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon" type="image/png" />
        <title>Logout</title>
        <link rel="stylesheet" type="text/css" href="button.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		</style>
	</head>
	<body bgcolor=#d4ecec>
		<br><br><br>
		<h1 align=center style="color: rgb(33, 88, 88)">Sorry, the password is incorrect</h1>
		<br>
		<h2 align=center style="color: rgb(33, 88, 88)">Click to enter, %s attempts left</h2>
		<form align=center>
            <button onclick="window.location.href='login.html'; return false;">Login</button>
        </form>
    </body>
</html>
