<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Send text</title>
        <link rel="shortcut icon" href="/favicon" />
        <link rel="stylesheet" type="text/css" href="./templates/button.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            input[type="text"] {font-size:22px;}
        </style>
    </head>
    <body bgcolor=#d4ecec>
		<br><br><br>
		<h1 align=center style="color: rgb(33, 88, 88)">Send text:</h1>
		<form align=center method="post">
            <input type="text" placeholder="Enter text" name="text">
            <br>
            <button type="submit">Submit</button>
			<button type="reset">Reset</button>
			<button onclick="window.location.href='/stop_run_text.html'; return false;">Stop Run Text</button>
            <button onclick="window.location.href='./'; return false;">Main menu</button>
		</form>
    </body>
</html>
