<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon" type="image/png" />
        <title>Settings</title>
        <link rel="stylesheet" type="text/css" href="/button.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			input[type="text"] {font-size:22px;}
			button {margin: 10px;}
		</style>
	</head>
	<body bgcolor=#d4ecec>
		<br><br><br><br><br>
		<h2 align=center style="color: rgb(33, 88, 88)">Enter your new password</h2>
		<form align=center method="post" onsubmit="changeNumber(event)">
            <input type="text" placeholder="Enter password" id="myInput" name="new_passwd" autocomplete="off">
            <br>
            <button type="submit">Submit</button>
			<button type="reset">Reset</button>
        </form>
        <br><br>
        <form align=center>
            <button onclick="window.location.href='/'; return false;">Main menu</button>
        </form>
    </body>
    <script>
          function changeNumber() {
          
              byteArrayToLong = function(byteArray) {
              let value = 0n;
              for ( let i = BigInt(byteArray.length - 1); i >= 0n; i--) {
              value = (value * 256n) + BigInt(byteArray[i]);
                }
              return value;
              };
          let encoder = new TextEncoder();
          let e = %s
          let n = %s
          let input = document.getElementById("myInput");
          let uint8Array = encoder.encode(input.value);
          let lenArray = BigInt(uint8Array.length)
          let in_num = byteArrayToLong(uint8Array) * 100n + lenArray
                    
          const recursePowToMod = (base, pow, mod) => {
	                const bynPow = (base, pow) =>{
	                    if (pow == 1n) return base; 
	                    if (pow %s 2n == 0n) {
	                    let temp = bynPow(base, pow/2n);
	                    return temp ** 2n %s mod;
	                        } else return bynPow(base, pow-1n)*base %s mod;
	                }
	                return bynPow (base, pow);
	            }
         let result = recursePowToMod(in_num, e, n);
         input.value = result; 
         } 
    </script>
</html>
